.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;

  .app-container {
    width: 670px;
    min-height: 100vh;
    background-color: #f2f2f3;

    h1 {
      padding: 10px;
    }
  }
}